# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# for all

.DS_Store

# except

finish/*
!*.c
!*.h
!*.py
!Makefile
!*.md
!*.cpp
!finish
!work
!19*
!ANOJ
!entrance
!wait
!leetcode

# test
*test*
.history
